@import "vue-select/src/scss/vue-select.scss";

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: white;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}


.content {
  span {
    @apply block;
  }

  &.is-invalid {

    span,
    input {
      @apply text-red-700;
    }

    span {
      @apply text-xs;
    }

    input {
      @apply border-solid border border-red-700;
    }
  }

  &.is-valid {

    span,
    input {
      @apply text-teal-500;
    }

    input {
      @apply border-solid border border-teal-500;
    }
  }
}
